@import '@mantine/core/styles.css';

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:root {
  --primary-color: linear-gradient(269.45deg, rgb(26, 247, 169) 0%, rgb(8, 205, 218) 100%);
}

#root, #__next {
  isolation: isolate;
}

.header {
  font-weight: 'semibold';
  font-size: '1em';
  background-color: 'transparent';
  &:hover {
    background-color: '#18D26E';
  }
}

.message-input {
  height: 200px;
  color: 'red'
}

html {
  overflow: scroll;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}