@import '@mantine/core/styles.css';

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

.input-field {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 8px;
  outline: none;
  border: none;
}

.input-error {
  border: 1px solid red;
  color: red;
}

.input_error::placeholder {
  color: red
}

.gradient-text {
  text-decoration: none;
  color: transparent;
  background-image: linear-gradient(90deg, rgb(26, 247, 169), rgb(8, 205, 218), rgb(26, 247, 169));
  background-clip: text;
  transition: background-position 0.8s ease, color 0.3s ease;
  background-size: 200%;
  background-position: 100% 0;
  background-image: linear-gradient(90deg, rgb(26, 247, 169), rgb(8, 205, 218), rgb(26, 247, 169));
  &:hover {
    background-image: linear-gradient(90deg, rgb(8, 205, 218), rgb(26, 247, 169), rgb(8, 205, 218));
    background-position: 0% 0;
  }
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:root {
  --primary-color: linear-gradient(269.45deg, rgb(26, 247, 169) 0%, rgb(8, 205, 218) 100%);
}

#root, #__next {
  isolation: isolate;
}

.header {
  font-weight: 'semibold';
  font-size: '1em';
  background-color: 'transparent';
  &:hover {
    background-color: '#18D26E';
  }
}

html {
  overflow: auto; /* Allow scrollbars to appear */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

::-webkit-scrollbar {
  width: 8px; /* Set scrollbar width */
  /*height: 6px;  Optional: Set scrollbar height if needed*/
  background: #f5f5f5; /* Light gray background */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Dark gray thumb */
  border-radius: 5px; /* Optional: Round the corners */
}

/* Hide scrollbar */
.no-scrollbar {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
